# Copyright Envoy AI Gateway Authors
# SPDX-License-Identifier: Apache-2.0
# The full text of the Apache license is available in the LICENSE file at
# the root of the repo.

apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
{{- if .Values.controller.mutatingWebhook.certManager.enable }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Values.controller.mutatingWebhook.certManager.certificateName}}
{{- end }}
  name: envoy-ai-gateway-gateway-pod-mutator.{{ .Release.Namespace }}
webhooks:
  - name:  {{ include "ai-gateway-helm.controller.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local
    clientConfig:
      service:
        name:  {{ include "ai-gateway-helm.controller.fullname" . }}
        namespace: {{ .Release.Namespace }}
        port: 9443
        path: /mutate
    rules:
      - apiGroups: [""]
        apiVersions: ["v1"]
        operations: ["CREATE"]
        resources: ["pods"]
    {{- if .Values.controller.mutatingWebhook.objectSelector }}
    objectSelector:
      {{- toYaml .Values.controller.mutatingWebhook.objectSelector | nindent 6 }}
    {{- end}}
    {{- if .Values.controller.mutatingWebhook.namespaceSelector }}
    namespaceSelector:
      {{- toYaml .Values.controller.mutatingWebhook.namespaceSelector | nindent 6 }}
    {{- end}}
    sideEffects: None
    admissionReviewVersions: ["v1"]
    timeoutSeconds: 10
    failurePolicy: Fail
---
{{- if .Values.controller.mutatingWebhook.certManager.enable }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Values.controller.mutatingWebhook.certManager.certificateName }}
  namespace: {{ .Release.Namespace }}
spec:
  commonName: {{ include "ai-gateway-helm.controller.fullname" . }}.{{ .Release.Namespace }}.svc
  dnsNames:
    - {{ include "ai-gateway-helm.controller.fullname" . }}.{{ .Release.Namespace }}.svc
  issuerRef:
    kind: Issuer
    name: {{ .Values.controller.mutatingWebhook.certManager.issuerName }}
  secretName: {{ .Values.controller.mutatingWebhook.tlsCertSecretName }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Values.controller.mutatingWebhook.certManager.issuerName }}
  namespace: {{ .Release.Namespace }}
spec:
  selfSigned: {}
---
{{- else }}
{{- $caCrt := "" }}
{{- $tlsCrt := "" }}
{{- $tlsKey := "" }}
{{/* Check fi the secret exists to avoid regenerating the certificate on upgrades */}}
{{- $existing := lookup "v1" "Secret" .Release.Namespace .Values.controller.mutatingWebhook.tlsCertSecretName }}
{{- if $existing }}
  {{- $caCrt = index $existing.data .Values.controller.mutatingWebhook.caBundleName }}
  {{- $tlsCrt = index $existing.data .Values.controller.mutatingWebhook.tlsCertName }}
  {{- $tlsKey = index $existing.data .Values.controller.mutatingWebhook.tlsKeyName }}
{{- else }}
  {{- $serviceName := include "ai-gateway-helm.controller.fullname" . }}
  {{- $ca := genCA (printf "%s-ca" $serviceName) 3650 }}
  {{- $dnsNames := list
        $serviceName
        (printf "%s.%s" $serviceName .Release.Namespace)
        (printf "%s.%s.svc" $serviceName .Release.Namespace)
        (printf "%s.%s.svc.cluster.local" $serviceName .Release.Namespace)
  -}}
  {{- $cert := genSignedCert (printf "%s.%s.svc" $serviceName .Release.Namespace) nil $dnsNames 365 $ca }}
  {{- $caCrt = $ca.Cert | b64enc }}
  {{- $tlsCrt = $cert.Cert | b64enc }}
  {{- $tlsKey = $cert.Key | b64enc }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.controller.mutatingWebhook.tlsCertSecretName }}
  namespace: {{ .Release.Namespace }}
data:
  {{ .Values.controller.mutatingWebhook.caBundleName }}: {{ $caCrt }}
  {{ .Values.controller.mutatingWebhook.tlsCertName }}: {{ $tlsCrt }}
  {{ .Values.controller.mutatingWebhook.tlsKeyName }}: {{ $tlsKey }}
---
{{- end }}
